
<h2><%= @answer.capitalize %></h2>
<span><em>- You</em></span>
<br>
<br>
<br>
<h2><%= @coach_response.capitalize %></h2>
<span><em>- Coach</em></span>
<br>
<br>
<%= link_to "Ask a new question", ask_path %>
